.App {
  text-align: center;
}
body{
  background-color: blueviolet;
  border: 10px ridge yellow;
}
.item{
  background-color: lightgoldenrodyellow;
  width: 300px;
  height: 340px;
  border: 5px solid goldenrod;
  display: inline-block;
  margin: 20px;
  color: aliceblue;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  transition: transform 1s ease;
}
.item:hover{
  background-color: aquamarine;
  border: 5px solid brown;
  transform: scale(1.2);
}
img{
  width: 200px;
  height: 250px;
  filter: drop-shadow(20px 10px 10px black);
}
.itemDetails{
  background-color: deeppink;
  height: 80px;
  padding: 2px;
  text-align: center;
}
h1{
  text-align: center;
  color:darkblue;
  background-color: lightblue;
  border: 5px groove yellow;
  font-size: 3rem;
  box-shadow: 10px 10px 10px black;
}
  
.logo{
  position: fixed;
  top: 0px;
  left: 0px;
  height: 150px;
}
